.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    margin-top: 40px;
}

.price {
    margin-right: 8px;
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 36px;
    /* identical to box height, or 75% */

    display: flex;
    align-items: center;
    text-align: right;

}

.currency {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.currency svg {
    width: 33px;
    height: 33px;
}